# VRChat auth cookie value
# Example: authcookie_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VRC_AUTH_TOKEN=

# VRChat twoFactorAuth cookie value
# Required for fetching favorites API
VRC_TWO_FACTOR_AUTH_TOKEN=

# VRChat favorite friend group tag used as notify target
# Friend favorite groups are usually group_0, group_1, group_2, group_3
VRC_NOTIFY_FAVORITE_TAG=group_0

# Discord Webhook URL for temporary/debug notification
DISCORD_WEBHOOK_URL_FAVORITES=